@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --dark-body: #3a3a4f;
  --dark-main: #121221;
  --dark-second: #6e6e80;
  --dark-hover: #292b39;
  --dark-text: #e0e0e0;

  --light-body: #f7f8fc;
  --light-main: #ffffff;
  --light-second: #dcdce0;
  --light-hover: #f2f4f9;
  --light-text: #212121;

  --blue: #004080;
  --white: #ffffff;

  --shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

  --font-family: "Inter", serif;

  --savb-ff-primary: "DM Sans", system-ui;
  --savb-ff-body: var(--savb-ff-primary);
  --savb-ff-heading: var(--savb-ff-primary);
  --savb-theme-color: #05633b;
  --savb-theme-color-rgb: 5, 99, 59;
  --savb-black: #000905;
  --savb-gray: #4c5250;
  --savb-white: #ffffff;
  --savb-light-gray: #b2b5b4;
  --savb-very-light-gray: #f7f7f7;
  --savb-stroke: #e5e6e6;
  --savb-light-green: #e6efeb;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-30: 1.875rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --transition: all 0.3s ease-in-out;
}





.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--savb-very-light-gray);
  position: relative;
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--savb-black);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 76px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--savb-black);
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--savb-black);
  animation: to-top 1s forwards;
  border-left: 1px solid var(--savb-stroke);
  border-top: 1px solid var(--savb-stroke);
}

.calendar-days div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  border-right: 1px solid var(--savb-stroke);
  border-bottom: 1px solid var(--savb-stroke);
  font-weight: var(--fw-regular);
  color: var(--savb-black);
}

.calendar-days div:hover:not(.calendar-day-other-month) {
  background-color: var(--savb-theme-color);
  transition: var(--transition);
  color: var(--savb-white);
}
.calendar-day:not(.calendar-day-other-month) {
  background-color:var(--savb-white);
}
.calendar-days .calendar-day-other-month {
  color: var(--savb-light-gray);
  cursor: default;
  background-color: var(--savb-very-light-gray);
}

.calendar-days div span {
  position: absolute;
}
.calendar-days div.curr-date {
  background-color: var(--savb-light-green);
  color: var(--savb-theme-color);
}
.calendar-days div.curr-date span {
  display: none;
}

.month-year-change-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.month-change {
  width: 3.125rem;
  height: 3.125rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.month-change:hover img {
  color: var(--savb-light-gray);
}
.month-year-change-navigation #next-month {
  transform: rotate(180deg);
}

.month-picker {
  font-size:var(--fs-30);
  font-weight:var(--fw-semi-bold);
  line-height:1.75rem;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--savb-black);
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.year-change#next-year {
  transform: rotate(180deg);
}
.year-change:hover {
  background-color: var(--color-hover);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

.calendar-day-hover.asign-date{
  position:relative;
  color:var(--savb-theme-color) !important;
  font-weight:var(--fw-bold) !important;
}
.calendar-day-hover.asign-date::after{
  content:"";
  position:absolute;
  top:67%;
  left:50%;
  transform:translate(-50%, -50%);
  width:0.375rem;
  height:0.375rem;
  background-color:var(--savb-theme-color);
  border-radius:50%;
}

.calendar-day-hover.asign-date:hover{
    color: var(--savb-white) !important;
}
.calendar-day-hover.asign-date:hover::after{
  background-color: var(--savb-white) !important;
}






@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
