
@media (min-width: 320px) {
.header-logo{
    padding-right: 2rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
}
.header-icons-section{
    padding-left:1rem;
    display:flex;
    justify-content: end;
}
.header-icons{
    gap:0.625rem;
}
.header-icons button.language-btn{
 display:none;
}
.header-menu-links{
    padding-left:1rem;
}
.menu-items-section nav a{
    font-size:var(--fs-16);
}
.menu-items-section nav{
    gap:24px;
}
.menu-link-section ul li{
    padding:1.625rem 1.875rem;
}

.header-menu-links{
    display:none;
}

.header-content{
   align-items: center;
}
.header-times{
    display:none;
}

/* home slider responsive design   */
.slider-content h1{
    font-size:var(--fs-32);
    line-height:2rem;
}
.home-carousel .swiper-slide{
    margin-top:0;
}
.home-slider-wrapper{
    height: 25.75rem;
}
.savb-swiper-button-prev {
    left: 1rem;
}
.savb-swiper-button-next {
    right: 1rem;
}



/* event section responsive design */
.events-section{
    padding-top:3rem;
    padding-bottom:3rem;
}
.events-section .container{
    flex-direction:column;
}
.calendar-days div {
    width: 3.25rem;
    height: 3.25rem;
    font-size: var(--fs-16);
}
.calendar-day-hover.asign-date::after{
    top:77%;
}

.tab-buttons{
    gap:1rem;
}
.tab-buttons .tab-button{
    font-size:var(--fs-13);
}
.content-item img{
    width:6.25rem;
}
.content-item h2{
    line-height:1.125rem;
    font-size:var(--fs-16);
}


/* latest-books-section */
.latest-books-section .section-title h2 {
    font-size: var(--fs-24);
}
.latest-books-section .savb-swiper-button-next,
.latest-books-section .savb-swiper-button-prev {
    background: #fff;
    width: 44px;
    height: 45px;
    display: flex;
    padding: 9px;
    border-radius: 50%;
}

.latest-books-section .savb-swiper-button-prev {
    left: 2rem;
}
.latest-books-section .savb-swiper-button-next {
    right: 2rem;
}
.latest-books-carousel .swiper-slide a img{
    width:100%;
}



.book-link-section-image {
   background-image:unset;
}

.link-section-title{
    margin-left: unset;

}
.links-wrapper {
    align-items: center;
}
.single-link a {
    width: 21.375rem;
    font-size:var(--fs-16);
}


.book-review {
    max-width: 100%;
    left:0;
    gap:1rem;
}
.book-review-section {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.book-review h2 {
    font-size: var(--fs-32);
}
.book-review p {
    font-size: var(--fs-16);
    line-height: 2rem;
}
.book-review a {
    margin-top: 1rem;
}
.book-cover {
    display:none;
}

.footer-content{
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    justify-content:space-between;
}

}

@media (min-width: 480px) {
    .header-icons{
        gap:1rem;
    }
    .slider-content h1{
        line-height:2.5rem;
    }

    .calendar-days div {
        width: 3.75rem;
        height: 3.75rem;
    }
}

@media (min-width: 576px) {
    .calendar-days div {
        width: 4rem;
        height: 4rem;
    }
    .single-link a {
        width: 30.375rem;
        font-size: var(--fs-24);
    }
}

@media (min-width: 768px) {
    .slider-content h1{
        font-size:var(--fs-40);
        line-height:2.9rem;
    }
    .calendar-days div {
        width: 5.75rem;
        height: 5.75rem;
    }
    .tab-buttons .tab-button{
        font-size:var(--fs-22);
    }
    .tab-buttons{
        gap:2rem;
    }
    .content-item img{
        width:8.438rem;
    }
    .content-item h2{
        line-height:1.75rem;
        font-size:var(--fs-22);
    }

    .link-section-title{
        margin-left: auto;

    }
    .book-link-section-image {
        width: 27.0%;
        background-image: url("../../images/links-background-image.webp");
    }
    .link-section-title {
        width: 39.375rem;
    }
    .links-wrapper {
        align-items: end;
    }
    .single-link a {
        width: 39.375rem;
        font-size: var(--fs-30);
    }
    .book-review h2 {
        font-size: var(--fs-32);
    }
    .book-review p {
        font-size: var(--fs-16);
    }
    .book-review{
    gap:1rem;
    left:-3rem;

    }
    .book-review {
        max-width: 19.25rem;
    }
    .book-cover {
        width: 16.3rem;
        margin-left: 0rem;
        display:inline-block;
    }

    .book-review-section {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .book-review a {
        margin-top: 0rem;
    }
    .book-review p {
        line-height: 1.8rem;
    }

    .footer-content {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .header-logo{
        padding-right: 2.5rem;
    }
    .header-times{
        display:flex;
    }
    .header-icons{
        gap:1.5rem;

    }
    .header-icons-section{
        justify-content:space-between;
    }
    .header-icons button.language-btn{
        display:inline-block;
    }
    /* home slider responsive design   */
    .home-slider-wrapper{
        height:40.75rem;
    }
    .slider-content h1{
          font-size:var(--fs-64);
            line-height:4.5rem;
    }
    .home-carousel .swiper-slide{
        margin-top:11.25rem;
    }
    .savb-swiper-button-prev {
        left: -1rem;
    }
    .savb-swiper-button-next {
        right: -1rem;
    }


/*event section responsive design  */
.calendar-days div {
    width: 7.75rem;
    height: 7.75rem;
    font-size: var(--fs-22);

}
.calendar-day-hover.asign-date::after{
    top:67%;
}

.tab-buttons{
    gap:1.563rem;
}

.content-item img{
    width:200px;
}
.content-item h2{
    line-height:1.75rem;
    font-size:var(--fs-32);
}
/* latest-books-section */
.latest-books-section .section-title h2 {
    font-size: var(--fs-30);
}
.latest-books-section .savb-swiper-button-prev{
    left: 1rem;
}
.latest-books-section .savb-swiper-button-next {
    right: 1rem;
}


.book-link-section-image {
    width: 44.38%;
}

.book-review {
    max-width: 27.0rem;
}
.book-review-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.book-review a {
    margin-top: 1.5rem;
}
.book-review p {
    line-height: 2.125rem;
}
.book-cover {
    width: 19.3rem;
}

}

@media (min-width: 1080px) {
.header-section.sticky .header-icons-section{
    display:none;
    transition:var(--transition);
}
.mobile-menu-open .home-page{
    left:0;
    transition: left ease-in 0.3s;
}
.header-icons button.hamburger-box{
    display:none;
}
.header-logo{
    padding-right: 1.5rem;
}
.header-icons-section{
    padding-left:1rem;
}
.header-menu-links{
    padding-left:1rem;
}
.menu-items-section nav a{
    font-size:var(--fs-14);
}
.menu-items-section nav{
    gap:1rem;
}
.menu-link-section ul li{
    padding:1.625rem 1rem;
}
.header-menu-links{
    display:flex;
}
.header-icons-section{
    border-bottom:1px solid var(--savb-stroke);
}
.header-content{
    align-items: unset;
}
/* home slider responsive design   */
.slider-content h1{
     font-size:var(--fs-64);
}
/* event section responsive design  */

.calender-colls-wrapper{
    padding-top:5rem;
    padding-bottom:5rem;
}

/* latest-books-section */

.latest-books-section .section-title h2 {
    font-size: var(--fs-40);
}
.latest-books-section .savb-swiper-button-next,
.latest-books-section .savb-swiper-button-prev {
    background: unset;
    width: unset;
    height: unset;
    display: unset;
    padding: unset;
    border-radius: unset;
}
.latest-books-section .savb-swiper-button-prev{
    left: -2rem;
}
.latest-books-section .savb-swiper-button-next {
    right: -2rem;
}


.book-link-section-image {
    width: 44.88%;
}

.book-review {
    max-width: 27.25rem;
}

.book-cover {
    width: 18.5rem;
    margin-left: 0rem;
}
.book-review-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.book-review {
    gap: 1rem;
}

}

@media (min-width: 1200px) {
    .header-logo{
        padding-right: 2.5rem;
    }
    .header-icons-section{
        padding-left:1.875rem;

    }
    .header-menu-links{
        padding-left:1.875rem;
    }
    .menu-items-section nav a{
        font-size:var(--fs-16);
    }
    .menu-items-section nav{
        gap:1.5rem;
    }
    .menu-link-section ul li{
        padding:1.625rem 1.875rem;
    }

    /* event section responsive design   */
    .calendar-days div {
        width: 4.75rem;
        height: 4.75rem;
        font-size: var(--fs-16);
    }
    .events-section .container{
        flex-direction:row;
    }
    .calender-colls-wrapper{
        padding-right:0rem;
    }
    .tab-buttons .tab-button{
        font-size:var(--fs-16);
    }
    .content-item img{
        width:162px;
    }
    .content-item h2{
        line-height:1.75rem;
        font-size:var(--fs-22);
    }
    .events-section {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .calender-colls-wrapper::before{
        position:absolute;
        content:"";
        top:0;
        left:0;
        background-color:var(--savb-very-light-gray);
        width:51%;
        height:100%;
    }

    .book-link-section-image {
        width: 52.88%;
    }
    .book-review {
        max-width: 34.25rem;
    }
    .book-cover {
        width: 23.3rem;
    }
    .book-review-section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .book-review h2 {
        font-size: var(--fs-40);
    }
    .book-review p {
        font-size: var(--fs-22);
    }
    .book-review {

        gap: 1.5rem;
    }

}



@media (min-width: 1440px) {
    .calender-colls-wrapper{
        padding-right:5rem;
    }
    .calender-colls-wrapper::before{
        width:49%;
    }
    .book-link-section-image {
        width: 58.58%;
    }
    .book-review {
        max-width: 42.25rem;
    }
    .book-cover {
        width: unset;
        margin-left:0.8rem;
    }
    .book-review-section {
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
}
@media (min-width: 1441px) {
    .book-link-section-image {
        width: 58.6%;
    }
}
@media (min-width: 1600px) {
    .book-link-section-image {
        width: 57.8%;
    }
    .book-cover {
        width: unset;
        margin-left:0rem;
    }
}
@media (min-width: 1920px) {
    .book-link-section-image {
        width: 56.5%;
    }
    .book-review-section{
        background-position: -4% 6%;
    }
    .book-cover {
        margin-left:1rem;
    }
}
@media (min-width: 2100px) {
    .book-link-section-image {
        width: 55.9%;
    }
}

