@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --savb-ff-primary: "DM Sans", system-ui;
  --savb-ff-body: var(--savb-ff-primary);
  --savb-ff-heading: var(--savb-ff-primary);
  --savb-theme-color: #05633b;
  --savb-theme-color-rgb: 5, 99, 59;
  --savb-black: #000905;
  --savb-gray: #4c5250;
  --savb-white: #ffffff;
  --savb-light-gray: #b2b5b4;
  --savb-very-light-gray: #f7f7f7;
  --savb-stroke: #e5e6e6;
  --savb-light-green: #e6efeb;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html {
  hanging-punctuation: first last; /* Safari iOS*/
  scroll-behavior: smooth;
  color-scheme: light dark;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  text-wrap: balance;
}
ol, ul {
  list-style: none;
}
p {
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--savb-ff-primary);
  font-optical-sizing: none;
  font-weight: var(--fw-regular);
  font-style: normal;
  font-size: var(--fs-16);
  line-height: 20px;
  color: var(--savb-black);
  background-color: var(--savb-white);
  overflow-x: hidden;
  min-height: 100svh;

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.btn-primary {
  display: inline-block;
  background-color: var(--savb-theme-color);
  color: var(--savb-white);
  font-size: var(--fs-16);
  line-height: 1.5rem;
  padding: 1.188rem 2.5rem;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid transparent;
}
.btn-primary:hover {
  background-color: var(--savb-light-green);
  color: var(--savb-black);
  border: 1px solid var(--savb-theme-color);
}
.white-bg {
  background-color: var(--savb-white);
  color: var(--savb-theme-color);
}



/* css for mobile menu  */
.home-page{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  overflow: hidden;
  transition:var(--transition);
  left:0%;
  background-color:var(--savb-white);
}
.mobile-menu-open .home-page{
  left:-80%;
  transition: left ease 0.3s;
}
.hamburger-box.active {
  width: 28px !important;
  left: 9px;
  top: 5px;
}
.hamburger-box.active span:nth-child(1){
  transform: rotate(45deg) translateY(6px);
}
.hamburger-box.active span:nth-child(2) {

  transform: rotate(-45deg) translateY(-7px);
}

.hamburger-box.active span:nth-child(3) {
  opacity: 0;
}
.mobile-menu{
  position:fixed;
  top:0;
  left:20%;
  right:0;
  bottom:0;
  overflow:hidden;
  background-color:var(--savb-very-light-gray);
  transition: all ease 0.3s;
  display:flex;
  flex-direction:column;
}
.mobile-menu-wrapper{
  background-color:var(--savb-very-light-gray);
}
.mobile-menu-wrapper ul li{
  display:block;
  padding:1rem 1.3rem;
  border-bottom:1px solid var(--savb-stroke);
}
.mobile-menu-wrapper ul li a{
  display:inline-block;
  font-size:var(--fs-16);
  font-weight:var(--fw-semi-bold);
  color:var(--savb-black);
  position:relative;
}
.mobile-menu-wrapper ul li a::after{
  position:absolute;
  content:"";
  width:0%;
  height:2px;
  background-color:var(--savb-theme-color);
  bottom:0;
  left:0;
}
.mobile-menu-wrapper ul li:hover{
  color:var(--savb-theme-color);
}
.mobile-menu-wrapper ul li:hover a::after{
    width:100%;
    transition: width ease 0.3s;
}
/* header section desing  */

.header-content{
  display:flex;
}
.header-section.sticky {
  position:fixed;
  width:100%;
  top:0;
  background-color:var(--savb-white);
  z-index:99;
}

.header-section.sticky .header-content{
  align-items:center;
}

.header-section.sticky + .home-slider-section{
  padding-top:6.25rem;

}

.header-logo{
  border-right:1px solid var(--savb-stroke);
  display: flex;
  align-items: center;
  justify-content: start;
}
.header-menus-section{
  width:100%;

}
.header-icons-section{
  justify-content:space-between;
  align-items:center;
  padding:7px 0;
}
.header-times{
  align-items:center;
}
.header-times span{
  font-size:var(--fs-14);
  font-weight:var(--fw-semi-bold);
  color:var(--savb-black);
}
.header-times span img{ margin-right:5px; }
.header-times span.date{
  margin-left:12px;
    font-weight:var(--fw-regular);
}
.header-icons{
  left:auto;
  display:flex;
  align-items:center;

}
.header-icons span img{
  width:1.375rem;
  height:1.375rem
  padding:2px;
  cursor:pointer;
}
.header-icons button.language-btn{
  background-color:transparent;
  border:none;
  color:var(--savb-black);
  font-weight:var(--fw-regular);
  font-size:var(--fs-14);
}
.header-icons button.language-btn > span{
  transition:var(--transition);
  text-transform:uppercase;
}
.header-icons button.language-btn > span:hover{
  font-weight:var(--fw-semi-bold);
  text-decoration:underline;
  cursor:pointer;
}
.header-icons button.hamburger-box{
  width:2rem;
  height:1.2rem;
  position:relative;
  cursor:pointer;
  background-color:transparent;
  border:none;
  display:inline-flex;
}
.header-icons button.hamburger-box span{
  position:absolute;
  display:block;
  width:100%;
  height:2px;
  background-color:var(--savb-black);
}
.header-icons button.hamburger-box span:nth-child(1){
  top: 0%
}
.header-icons button.hamburger-box span:nth-child(2){
  top: 50%
}
.header-icons button.hamburger-box span:nth-child(3){
  top: 100%
}
.header-menu-links{
  align-items:center;
  justify-content:space-between;

}
.menu-items-section ul{
  display:flex;

}
.menu-items-section ul li{
  display:inline;
}
.menu-items-section ul li a{
  position:relative;
  display:inline-block;
  color:var(--savb-black);
  font-weight:var(--fw-semi-bold);
  font-size:var(--fs-16);
  transition:var(--transition);
}
.menu-items-section ul li a:hover{
  color:var(--savb-theme-color);
}
.menu-items-section ul li a::after{
  position:absolute;
  content:"";
  width:0%;
  height:0px;
  background-color:var(--savb-theme-color);
  bottom:0;
  left:0;
  transition:all 0.5s ease-in-out;

}
.menu-items-section ul li a:hover::after{
  width:100%;
  height:1px;
}

.menu-link-section{}
.menu-link-section ul{
  display:flex;
}
.menu-link-section ul li{
  display:inline;
  border-left:1px solid var(--savb-stroke);
  transition:var(--transition);
}
.menu-link-section ul li:hover{
  background-color:var(--savb-light-green);
}
.menu-link-section ul li:last-child{
  background-color:var(--savb-theme-color);
  position:relative;

}


.menu-link-section ul li:last-child a{
    color:var(--savb-white);
}
.menu-link-section ul li:last-child:hover{
    background-color:var(--savb-light-green);

}
.menu-link-section ul li:last-child:hover a{
  color:var(--savb-theme-color);
}
.menu-link-section ul li a{
  display:inline-flex;
  color:var(--savb-black);
  font-weight:var(--fw-semi-bold);
  font-size:var(--fs-16);
  transition:var(--transition);
  align-items:center;
  gap:8px;

}
.menu-link-section ul li a span{}
.menu-link-section ul li a span img{}



/* home slider section desing  */

.home-slider-wrapper{
  background-image: url("../../images/slider-bg.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.home-slider-wrapper .container{
  position:relative;
}

.slider-content{
  display:flex;
  flex-direction:column;
  gap:1.25rem;
  justify-content:center;
  align-items:center;
  text-align:center;

}
.slider-content h1{
  font-weight:var(--fw-bold);
  color:var(--savb-white);
  text-align:center;
}
.slider-content p{
  font-size:var(--fs-20);
  line-height:2rem;
  font-weight:var(--fw-regular);
  color:var(--savb-white);
}
.slider-content a{
  margin-top:1.25rem;
}



/* event section design  */
.events-section{
  position:relative;
  margin-bottom:2.5rem;

}
.events-section .container{
  display:flex;
  gap:4.125rem;
  align-items:center;
}
.tab-content-colls-wrapper{
  width:100%;
  height:100%;
}
.tab-content-colls-wrapper .section-title{
  font-size:var(--fs-40);
  font-weight:var(--fw-bold);
  line-height:2.75rem;
  text-transform:uppercase;
}
.tab-buttons{
  display:inline-flex;
}
.tab-buttons .tab-button{
  border:none;
  background-color:transparent;
  font-size:var(--fs-16);
  font-weight:var(--fw-semi-bold);
  color:var(--savb-gray);
  text-transform:capitalize;
  cursor:pointer;

}
.tab-button.active {
  color: var(--savb-theme-color);
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-container{
  padding-top:1.5rem;
}
.tab-container .tab-buttons{
  padding-bottom:1.75rem;
}
.tab-content.active{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.content-item{
  display:flex;
  gap:1rem;
  flex-direction:row;
  align-items:start;
}
.content-item img{
  height:auto;
}
.content-item p{
  padding: 6px 10px;
  background-color:var(--savb-theme-color);
  color:var(--savb-white);
  font-size:var(--fs-12);
  font-weight:var(--fw-regular);
  display:inline-block;
  margin-bottom:4px;
}
.content-item h2{
  line-height:28px;
  font-size:var(--fs-22);
  font-weight:var(--fw-semi-bold);
  color:var(--savb-black);
  text-wrap:auto;
}





/* latest books section design  */
.latest-books-section {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.75rem;
  margin-bottom: 3.75rem;
}
.latest-books-section::after {
  content: "";
  position: absolute;
  width: 41.4%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--savb-very-light-gray);
  z-index: -1;
}
.latest-books-section .section-title {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding-bottom: 2.5rem;
}
.latest-books-section .section-title h2 {
  font-weight: var(--fw-bold);
  line-height: 2.75rem;
  color: var(--savb-black);
  text-transform: uppercase;
}
.latest-books-section .section-title a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 1.302rem;
  font-size: var(--fs-16);
  font-weight: var(--fw-semi-bold);
  color: var(--savb-theme-color);
}
.latest-books-section .container {
  position: relative;
}

.latest-books-carousel .swiper-slide img {
  margin-bottom: 1.5rem;
}
.latest-books-carousel .writer-name {
  font-size: var(--fs-16);
  font-weight: var(--fw-semi-bold);
  color: var(--savb-gray);
  line-height: 1.302rem;
  margin-bottom: 0.25rem;
}
.latest-books-carousel .book-name {
  font-size: var(--fs-22);
  font-weight: var(--fw-semi-bold);
  color: var(--savb-black);
  line-height: 1.75rem;
}

/* book link section design  */
.book-link-section {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.book-link-section-image {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.link-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-40);
  line-height: 2.75rem;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
  color: var(--savb-black);
}
.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.single-link {
  display: contents;
}
.single-link a {
  position: relative;
  width: 39.375rem;
  height: 6.875rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--savb-light-green);
  color: var(--savb-black);
  font-size: var(--fs-30);
  font-weight: var(--fw-semi-bold);
  transition: var(--transition);
  line-height: 1.875rem;
}
.single-link a::after {
  content: url("../../images/link-arrow.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.875rem;
  transition: var(--transition);
}
.single-link:hover a::after {
  content: url("../../images/link-arrow-white.svg");
}
.single-link:hover a {
  background-color: var(--savb-theme-color);
  color: var(--savb-white);
}
.single-link a > img.link-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.single-link a > .link-icon {
  width: 6.875rem;
  height: 6.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--savb-theme-color);
  border-right: 1px solid var(--savb-light-green);
}
.single-link:hover a > .link-icon {
  border-right: 1px solid var(--savb-light-green);
}
/* patterns sections design  */
.partners-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}
.partners-section .container {
  position: relative;
}
.partners-carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.savb-swiper-button-prev,
.savb-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: var(--transition);
}

.savb-swiper-button-prev.swiper-button-disabled img,
.savb-swiper-button-next.swiper-button-disabled img {
  opacity: 0.7;
}
/* Book Review Section Design */
.book-review-section-wrapper {
  position: relative;
  margin-top: 8.625rem;
}
.book-cover {
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  margin-left: 0.7rem;
}
.book-review-section {
  background-color: var(--savb-theme-color);
  background-image: url(../../images/icons/book-bg.svg);
  background-repeat: no-repeat;
  background-size: 78% 117%;
  background-position: -22% 6%;
  position: relative;
  background-attachment: scroll;
}

.book-review {
  color: var(--savb-white);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}

.book-review .quote-icon {
  position: absolute;
  top: -2rem;
  right: 0;
}
.book-review .quote-icon img {
  width: 2.875em;
}
.book-review h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-40);
  line-height: 2.75rem;
}
.book-review p {
  font-weight: var(--fw-regular);
  font-size: var(--fs-22);
}


/* footer desing */
.footer-coll-section {
  background-color: var(--savb-very-light-gray);
}
.footer-coll {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 3rem;
}
.footer-coll-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
}
.footer-text {
  color: var(--savb-gray);
  line-height: 1.5rem;
  font-style: normal;
}
.footer-social-links {
  padding-top: 1.25rem;
  display: flex;
  justify-content: start;
  gap: 0.625rem;
}
.footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  transition: var(--transition);
  border: 1px solid var(--savb-theme-color);
}
.footer-social-links a:hover {
  background-color: var(--savb-light-green);
}

.footer-coll-item h2 {
  color: var(--savb-black);
  font-size: var(--fs-16);
  margin-bottom: 1.25rem;
}
.footer-coll-item address {
  color: var(--savb-gray);
  line-height: 1.5rem;
  font-style: normal;
}
.footer-coll-item address > div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  line-height: 2rem;
}

.footer-coll-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-coll-item ul li {
  display: block;
  padding: 0.25rem 0;
}
.footer-coll-item ul li a {
  color: var(--savb-gray);
  font-size: var(--fs-16);
  line-height: 1.5rem;
  transition: var(--transition);
}
.footer-coll-item ul li a:hover {
  color: var(--savb-theme-color);
  text-decoration: underline;
}
.footer-input {
  position: relative;
}
.footer-input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer-input input {
  background-color: var(--savb-very-light-gray);
  width: 100%;
  padding: 0.625rem 1.25rem 0.625rem 1.875rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--savb-stroke);
  font-size: var(--fs-16);
  line-height: 1.5rem;
  color: var(--savb-gray);
}
.footer-input input::placeholder {
  color: var(--savb-gray);
  font-size: var(--fs-14);
  line-height: 1.25rem;
}
.footer-input input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--savb-theme-color);
}
.footer-coll-item form p {
  color: var(--savb-gray);
  font-size: var(--fs-14);
  line-height: 1.25rem;
}
.footer-coll-item form p a {
  text-transform: capitalize;
}
.footer-coll-item form p:hover a {
  text-decoration: underline;
  color: var(--savb-theme-color);
}

.footer-coll-item form button {
  margin-top: var(--fs-16);
  margin-bottom: 0.625rem;
}

.footer {
  background-color: var(--savb-very-light-gray);
}
.footer-content {
  padding: 1.625rem 0;
  border-top: 1px solid var(--savb-stroke);
}
.footer-content p {
  color: var(--savb-gray);
  font-size: var(--fs-16);
}
.footer-content a:hover {
  transition: var(--transition);
  text-decoration: underline;
  color: var(--savb-theme-color);
}

/* responsive desing */

/* Small devices (landscape phones, less than 575px) */
@media (max-width: 575.98px) {
  .footer-coll {
    gap: 2rem;
  }
  .footer-coll-section {
    padding: 2rem 0;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .footer-coll-section {
    padding: 3rem 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .footer-coll-section {
    padding: 4rem 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .footer-coll-section {
    padding: 5rem 0;
  }
  .footer-coll {
    gap: 2.6rem;
  }
  .footer-text {
    font-size: var(--fs-14);
  }
  .footer-coll-item address {
    font-size: var(--fs-14);
  }
  .footer-coll-item ul li a {
    font-size: var(--fs-14);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .footer-coll {
    gap: 4.35rem;
  }
  .footer-text {
    font-size: var(--fs-16);
  }
  .footer-coll-item address {
    font-size: var(--fs-16);
  }
  .footer-coll-item ul li a {
    font-size: var(--fs-16);
  }
}
